<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <title>pagina 2</title>
  </head>
  <body>  
    <div class="contenedor">
      <div class="d-flex"> 
        <div class="column1 pr-1" id="columna1">
          <img src="images/logo.png" alt="">
          <h2 class="text-center">Sistema de generacion y control de señales automotrices</h2>
          <div class="d-flex justify-content-center puertos mt-5">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fab fa-usb"></i> PUERTOS
              </button>
              <ul class="dropdown-menu" id="dropdown-ports" aria-labelledby="dropdownMenuButton1">                
              </ul>
            </div>
            <button class="btn btn-refresh" id="refresh" type="button">
              <i class="fas fa-sync"></i>
            </button>
          </div>
          <div class="d-flex justify-content-between buttons">
            <button class="btn btn-info" type="button">
              <i class="fas fa-question-circle"></i>Ayuda
            </button>
            <button class="btn btn-info disabled" type="button">
              <i class="fas fa-upload"></i>Conexion
            </button>
          </div>
        </div>
        <div class="column2 ">        
          <div class="d-flex flex-column align-items-center">
            <h1>Sistema</h1>
            <h1>GSA</h1>
            <img src="images/grafica.png" alt="">            
          </div>                   
        </div>
      </div>
    </div>  
  </body>
</html>